

Complete listing of Fine Structure file
File: {{ file_location }}

Started at       {{ started_at }} UTC

Station  :      {{ station_id }}
Location :      {{ latitude }} {{ longitude }}         {{ station_altitude }} m/MSL

Sounding type : {{ sounding_type }} 
RS-number     : {{ rs_number }}
Sounding processor serial number: {{ serial_number }}


Ground check  :    Ref     RS   Corr

  Pressure    :{{ ident_pressure }}
  Temperature :{{ ident_temperature }}
  Humidity    :{{ ident_humidity }}

Clouds    : {{clouds}}
Special 1 : {{special1}}
Special 2 : {{special2}}

Telemetry noise level  : {{ success_of_signal }} %

                 P      T      U
Accepted (%) :  ???.? ???.?    ???.? (TODO: learn how this is calculated)
Replaced (%) :  ???.? ???.?    ???.?
Rejected (%) :  ???.? ???.?    ???.?


Reason for termination : {{ reason_temination }} (TODO: 5=Increasing pressure)

   Time Pressure   Height  Temperature  RH   Dewp   Significance flags

 min  s      hPa      gpm     deg C      %  deg C  Automatic  Operator

{% for entry in entries %}
{{ entry }}{% endfor %}